<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rest API - Yuda Xwer</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
        	<img src="img/logo/yuda.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Yuda API</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="docs.html">
          <i class="fas fa-fw fa-code"></i>
          <span>Beranda</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        API Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-download"></i>
          <span>Social Media API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Media Features</h6>
            <a class="collapse-item" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Masukkan_ApikeyNya">Facebook Downloader</a>
            <a class="collapse-item" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Masukkan_ApikeyNya">Tiktok Download</a>
            <a class="collapse-item" href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&apikey=Masukkan_ApikeyNya">Instagram Download</a>
            <a class="collapse-item" href="/api/download/ytmp3?url=https://youtu.be/Nq5rzeJ5Ab4&apikey=Masukkan_ApikeyNya">Youtube Mp3 Download</a>
            <a class="collapse-item" href="/api/download/ytmp4?url=https://youtu.be/Nq5rzeJ5Ab4&apikey=Masukkan_ApikeyNya">Youtube Mp4 Download</a>
            <a class="collapse-item" href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya">Youtube Play Mp3</a>
            <a class="collapse-item" href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya">Youtube Play Mp4</a>
            <a class="collapse-item" href="/api/yt/search?query=Monolog-pamungkas&apikey=Masukkan_ApikeyNya">Youtube Searching</a>
            <h6 class="collapse-header">Stalker Features</h6>
            <a class="collapse-item" href="/api/stalk/ig?apikey=Masukkan_ApikeyNya&username=yuda.dika.12">Instagram Stalker</a>
            <a class="collapse-item" href="/api/stalk/tiktok?apikey=Masukkan_ApikeyNya&username=chikakiku">Tiktok Stalker</a>
            <a class="collapse-item" href="/api/stalk/npm?apikey=Masukkan_ApikeyNya&query=zhirrr-api&hostname=zhirrr">Info NPM</a>
            </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMusic" aria-expanded="true"
          aria-controls="collapseMusic">
          <i class="fas fa-music"></i>
          <span>Music Api</span>
        </a>
        <div id="collapseMusic" class="collapse" aria-labelledby="headingMusic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Music  API</h6>
            <a class="collapse-item" href="/api/music/joox?apikey=Masukkan_ApikeyNya&query=monolog pamungkas">Joox Download</a>
            <a class="collapse-item" href="/api/music/spotify?apikey=Masukkan_ApikeyNya&query=ignite">Spotify Search</a>
      <a class="collapse-item" href="/api/music/liriklagu?query=sayang&apikey=Masukkan_ApikeyNya">Search Lirik Lagu</a>
            <a class="collapse-item" href="/api/music/chordlagu?lagu=sayang&apikey=Masukkan_ApikeyNya">Search Chord Lagu</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true"
          aria-controls="collapseIslamic">
          <i class="fas fa-star-and-crescent"></i>
          <span>Islamic Features</span>
        </a>
        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Islamic  API</h6>
            <a class="collapse-item" href="/api/muslim/hadits?kitab=bukhari&nomor=52&apikey=Masukkan_ApikeyNya">Hadits Shahih</a>
            <a class="collapse-item" href="/api/muslim/quran?surah=1&ayat=2&apikey=Masukkan_ApikeyNya">Al Qur'an</a>
            <a class="collapse-item" href="/api/muslim/tahlil?apikey=Masukkan_ApikeyNya">Doa Tahlil</a>
            <a class="collapse-item" href="/api/muslim/wirid?apikey=Masukkan_ApikeyNya">Doa Wirid</a>
            <a class="collapse-item" href="/api/muslim/asmaulhusna?apikey=Masukkan_ApikeyNya">Asmaul Husna</a>
            <a class="collapse-item" href="/api/muslim/doaharian?apikey=Masukkan_ApikeyNya">Doa Harian</a>
            <a class="collapse-item" href="/api/muslim/ayatkursi?apikey=Masukkan_ApikeyNya">Ayat Kursi</a>
            <a class="collapse-item" href="/api/muslim/kisahnabi?nabi=muhammad&apikey=Masukkan_ApikeyNya">Kisah Nabi</a>
            <a class="collapse-item" href="/api/muslim/niatshalat?apikey=Masukkan_ApikeyNya">Niat Shalat</a>
            <a class="collapse-item" href="/api/muslim/bacaanshalat?apikey=Masukkan_ApikeyNya">Bacaan Shalat</a>
            <a class="collapse-item" href="/api/muslim/jadwalshalat?kota=jakartautara&apikey=Masukkan_ApikeyNya">Jadwal Shalat</a>
          </div>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWallpaper" aria-expanded="true"
          aria-controls="collapseKodepos">
          <i class="fas fa-image"></i>
          <span>Random API</span>
        </a>
        <div id="collapseWallpaper" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random Image API</h6>
            <a class="collapse-item" href="api/search/image?apikey=Masukkan_ApikeyNya&query=chikaku">Search Image</a>
             <a class="collapse-item" href="/api/maker/dadu?apikey=Masukkan_ApikeyNya">Random DADU</a>
             <a class="collapse-item" href="/api/wallpaper/teknologi?apikey=Masukkan_ApikeyNya">Wallpaper Teknologi</a>
            <a class="collapse-item" href="/api/wallpaper/programming?apikey=Masukkan_ApikeyNya">Wallpaper Programming</a>
            <a class="collapse-item" href="/api/wallpaper/cyberspace?apikey=Masukkan_ApikeyNya">Wallpaper CyberSpace</a>
            <a class="collapse-item" href="/api/wallpaper/muslim?apikey=Masukkan_ApikeyNya">Wallpaper Muslim</a>
            <a class="collapse-item" href="/api/wallpaper/pegunungan?apikey=Masukkan_ApikeyNya">Wallpaper Mountain View</a>
            <h6 class="collapse-header">Time Line API</h6>
            <a class="collapse-item" href="/api/asupan?apikey=Masukkan_ApikeyNya">Random Asupan</a>
             </div>
            </div>
            </li>
<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true"
          aria-controls="collapseMaker">
          <i class="fas fa-fw fa-images"></i>
          <span>Image Maker API</span>
        </a>
        <div id="collapseMaker" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/api/maker/nulis?apikey=Masukkan_ApikeyNya&text=Awokwokwok Mager yaa:v">Nulis Buku</a>
            <a class="collapse-item" href="/api/maker/attp?apikey=Masukkan_ApikeyNya&text=Yuda">Animation Text To Picture</a>
            <a class="collapse-item" href="/api/maker/ttp?apikey=Masukkan_ApikeyNya&text=Yuda">Text To Picture</a>
            <a class="collapse-item" href="/api/maker/emoji2png?apikey=Masukkan_ApikeyNya&text=😂">Emoji To Png</a>
            <hr>
            <a class="collapse-item" href="/api/maker/skatch?apikey=Masukkan_ApikeyNya&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10">Skatch Effect</a>
            <a class="collapse-item" href="/api/maker/harta-tahta?apikey=Masukkan_ApikeyNya&text=Yuda">Harta Tahta Maker</a>
            </div>
            </div>
            </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true"
          aria-controls="collapsePhotooxy">
          <i class="fas fa-fw fa-images"></i>
          <span>Photooxy API</span>
        </a>
        <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Photooxy API</h6>
            <a class="collapse-item" href="/api/photooxy/shadow?apikey=Masukkan_ApikeyNya&text=Yuda">Shadow Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/romantic?apikey=Masukkan_ApikeyNya&text=Yuda">Romantic Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/smoke?apikey=Masukkan_ApikeyNya&text=Yuda">Smoke text Effect</a>
            <a class="collapse-item" href="/api/photooxy/burn-paper?apikey=Masukkan_ApikeyNya&text=Yuda">Burn-paper Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/naruto?apikey=Masukkan_ApikeyNya&text=Yuda">Naruto Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/romantic?apikey=Masukkan_ApikeyNya&text=Yuda">Romantic Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/love-message?apikey=Masukkan_ApikeyNya&text=Yuda">Love-Message Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/message-under-grass?apikey=Masukkan_ApikeyNya&text=Yuda">Message Under Grass</a>
            <a class="collapse-item" href="/api/photooxy/glitch?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Rest APIs">Glitch Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/double-heart?apikey=Masukkan_ApikeyNya&text=Yuda">Double Heart</a>
            <a class="collapse-item" href="/api/photooxy/coffe-cup?apikey=Masukkan_ApikeyNya&text=Yuda">Coffe-cup Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/love-text?apikey=Masukkan_ApikeyNya&text=Yuda">Love-Text Effect</a>
            <a class="collapse-item" href="/api/photooxy/butterfly?apikey=Masukkan_ApikeyNya&text=Yuda">Butterfly Text Effect</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextpro" aria-expanded="true"
          aria-controls="collapseTextpro">
          <i class="fas fa-fw fa-images"></i>
          <span>Textpro me API</span>
        </a>
        <div id="collapseTextpro" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Textpro Me Features</h6>
            <a class="collapse-item" href="/api/textpro/natural-leaves?apikey=Masukkan_ApikeyNya&text=Yuda">Natural Leaves Text Images</a>
            <a class="collapse-item" href="/api/textpro/black-pink?apikey=Masukkan_ApikeyNya&text=Yuda">Black Pink Text Image</a>
            <a class="collapse-item" href="/api/textpro/drop-water?apikey=Masukkan_ApikeyNya&text=Yuda">Drop Water Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Dika">Logo Wolf Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf2?apikey=Masukkan_ApikeyNya&text=Yuda&text2=Dika">Logo Wolf 2 Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Yuda">Thunder Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Yuda">Firework Sparkle Text Image</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?apikey=Masukkan_ApikeyNya&text=Yuda">Matrix Text Image</a>
            <a class="collapse-item" href="/api/textpro/christmas?apikey=Masukkan_ApikeyNya&text=Yuda">Christmas Text Image</a>
            <a class="collapse-item" href="/api/textpro/3d-gradient?apikey=Masukkan_ApikeyNya&text=Yuda">3D Gradient Text Image</a>
            <a class="collapse-item" href="/api/textpro/porn-hub?apikey=Masukkan_ApikeyNya&text1=Yuda&text2=Gans">Porn Hub Text Image</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandom"
          aria-expanded="true" aria-controls="collapseRandom">
          <i class="fas fa-random"></i>
          <span>Random API</span>
        </a>
        <div id="collapseRandom" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random API</h6>
            <a class="collapse-item" href="/api/random/quotes?apikey=Masukkan_ApikeyNya">Quotes</a>
            <a class="collapse-item" href="/api/random/quotes/muslim?apikey=Masukkan_ApikeyNya">Quotes Islami</a>
            <a class="collapse-item" href="/api/random/quotes/kanye?apikey=Masukkan_ApikeyNya">Quotes Kanye</a>
            <a class="collapse-item" href="/api/random/asmaulhusna?apikey=Masukkan_ApikeyNya">Asmaul Husna</a>
            <a class="collapse-item" href="/api/random/meme?apikey=Masukkan_ApikeyNya">Meme</a>
            <a class="collapse-item" href="/api/random/wallpaper?apikey=Masukkan_ApikeyNya">Wallpaper</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fas fa-cat"></i>
          <span>Anime/Manga API</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Manga Features</h6>
            <a class="collapse-item" href="/api/anime/kusonime?search=planetarian&apikey=Masukkan_ApikeyNya">Kusonime</a>
            <a class="collapse-item" href="/api/anime/manga?search=kimetsu no yaiba&apikey=Masukkan_ApikeyNya">Manga</a>
            <a class="collapse-item" href="/api/anime/loli?apikey=Masukkan_ApikeyNya">Random LoLi</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames" aria-expanded="true" aria-controls="collapseForm">
          <i class="fas fa-laugh-beam"></i>
           <span>Fun API</span>
       </a>
      <div id="collapseGames" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
       <div class="py-2 collapse-inner rounded">
         <h6 class="collapse-header">Fun Features</h6>
            <a class="collapse-item" href="/api/kuis/caklontong?apikey=Masukkan_ApikeyNya">Cak Lontong</a>
            <a class="collapse-item" href="/api/kuis/tebakgambar?apikey=Masukkan_ApikeyNya">Tebak Gambar</a>
             <a class="collapse-item" href="/api/hilih?kata=aku kan ganteng banget&apikey=Masukkan_ApikeyNya">Kata Hilih</a>
         </div>
         </div>
        </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem" aria-expanded="true" aria-controls="collapseForm">
          <i class="fas fa-wrench"></i>
           <span>Tools API</span>
       </a>
      <div id="collapseItem" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
       <div class="py-2 collapse-inner rounded">
         <h6 class="collapse-header">Tools Features</h6>
            <a class="collapse-item" href="/api/web2plain-text?apikey=Masukkan_ApikeyNya&url=https://fxc7-api.herokuapp.com">Web To Plain-Text</a>
            <a class="collapse-item" href="/api/tools/wpuser?apikey=Masukkan_ApikeyNya&url=http://gdjms.co.za/">Wordpress User</a>
            <a class="collapse-item" href="/api/short/tinyurl?url=google.com&apikey=Masukkan_ApikeyNya">Shortlink Tinyurl</a>
            <a class="collapse-item" href="/api/translate?kata=hi&apikey=Masukkan_ApikeyNya">Translate</a>
            <a class="collapse-item" href="/api/fakedata?country=en&apikey=Masukkan_ApikeyNya">Fake Data</a>
         <h6 class="collapse-header">Encrypt Tools</h6>
            <a class="collapse-item" href="/api/base?apikey=Masukkan_ApikeyNya&type=base64&encode=Yuda">Base64 Encrypt</a>
            <a class="collapse-item" href="/api/base?apikey=Masukkan_ApikeyNya&type=base32&encode=Yuda">Base32 Encrypt</a>
         <h6 class="collapse-header">Decrypt Tools</h6>
            <a class="collapse-item" href="/api/base?apikey=Masukkan_ApikeyNya&type=base64&decode=Yuda">Base64 Decrypt</a>
            <a class="collapse-item" href="/api/base?apikey=Masukkan_ApikeyNya&type=base32&decode=Yuda">Base32 Decrypt</a>
         </div>
         </div>
        </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true"
          aria-controls="collapseother">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Information API</span>
        </a>
        <div id="collapseInfo" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information Menu</h6>
            <a class="collapse-item" href="/api/info/gempa?apikey=Masukkan_ApikeyNya">Info Gempa</a>
            <a class="collapse-item" href="/api/info/cuaca?apikey=Masukkan_ApikeyNya&kota=banyuwangi">Info Cuaca</a>
            <a class="collapse-item" href="/api/info/covidindo?apikey=Masukkan_ApikeyNya">Covid Indo</a>
            <a class="collapse-item" href="/api/info/covidworld?apikey=Masukkan_ApikeyNya">Covid World</a>
            <a class="collapse-item" href="/api/info/wikipedia?search=jembatan&apikey=Masukkan_ApikeyNya">Wikipedia</a>
            <a class="collapse-item" href="/api/info/drakorasia?search=tale&apikey=Masukkan_ApikeyNya">Drakor Asia</a>
            <a class="collapse-item" href="/api/info/kbbi?kata=pohon&apikey=Masukkan_ApikeyNya">KBBI</a>
            <a class="collapse-item" href="/api/info/kodepos?kota=jakarta&apikey=Masukkan_ApikeyNya">Kode Pos</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
<div class="version"><b>Contact me</b></div>
      </div>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://wa.me/6281370435024">
            <i class="fab fa-fw fa-whatsapp"></i>
                    <span>WhatsApp</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://github.com/yuda112">
            <i class="fab fa-fw fa-github"></i>
                    <span>Github</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://instagram.com/yuda.dika.12">
            <i class="fab fa-fw fa-instagram"></i>
                    <span>Instagram</span>
            </a>
      </li>
       <li class="nav-item">
            <a class="nav-link collapsed" href="api/game">
            <i class="fa fa-gamepad"></i>
                    <span>Mini Games</span>
            </a>
      </li>
      <hr class="sidebar-divider">
      <div class="version"><b>Made With ♥️ By Yuda Dika</b></div>
    </ul>
    <!-- Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li> 
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://tinyurl.com/ez4xvzsw" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Fxc7</span>
              </a>
              </div>
            </li>
          </ul>
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
             <h1 class="text-xs font-weight-bold text-uppercase text-center mb-1">rest APIs - FXC7</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Beranda</li>
            </ol>
          </div>
<footer class="sticky-footer bg-white">
  <div class="col-lg-6">
       <div class="card mb-4">
        <div class="card-header py-3">
         <div class="card-body">
           <div class="row align-item-center">
              <img class="shadow mb-4" width="330px" height="300px" src="https://tinyurl.com/fhszp24">
                   </div>
                  </div>
                </div>
              </div> 
            </div>
      <div class="col-lg-6">
       <div class="card mb-4">
        <div class="card-header py-3">
         <div class="card-body">
          <div class="row align-item-center">
           <div id="demo" class="alert alert-info alert-dismissible" role="alert">
            <div id="Statistic"></div>
             <span id="tgl">00</span> - <span id="bln">00</span> - <span id="thn"></span>
            </div>
           </div>
          </div>
         </div> 
        </div>
       </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor Count</div>
                      <br>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="visits">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-eye fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Count Down Idul Fitri</div>
                      <br>
                      <div class="h6 mb-0 font-weight-bold text-gray-600 text-uppercase">
                        <span class="text-danger" id="hari">00</span> Hari 
                        <span class="text-danger" id="jam">00</span> Jam 
                        <span class="text-danger" id="menit">00</span> Menit 
                        <span class="text-danger" id="detik">00</span> Detik
                      </div>
                    </div>
                    <div class="col-auto">
                     <i class="fas fa-star-and-crescent fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!---Container Fluid-->
      <!-- Footer -->
     <form action="/api/cekapikey">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
           <div class="h6 mb-0 font-weight-bold text-dark-800 text-uppercase">
          <h6 class="text-center">[+] cek apikey [+]</h6>
          </div>
           <input type="password" class="form-control" placeholder="Check Your apikey" name="apikey" required=""><br>
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Check</span>
            </button>
         </div>
        </div>
       </div>
      </div>
     </div>
      </form>
      <div class="col-lg-6">
       <div class="card mb-4">
        <div class="card-header py-3">
         <div class="card-body">
             <div class="card m-3 text-center shadow">
               <p class="card-header shadow-sm bg-primary text-white text-uppercase">About Me</p>
              <div class="text-center">
        <img src="https://tinyurl.com/ajmwfws" class="rounded-circle shadow mb-3" alt="Yuda" width="150px" height="150px">
      </div>
      <div class="copyright text-center my-auto">
     <p class="card-text text-shadow">Yuda, 18 tahun<br></p><div class="text-xs font-weight-bold text-uppercase">
       <h6 class="text-uppercase">Thanks To:</h6><br>
       Manurios<br>Wawan<br>Rakha<br>Fxc7 Team
     </div>
     </div>
      </div>
    </div>
  </div>
</div>
    </div>
  <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copy Paste; 2021 - Developed By
              <b>Yuda Xwer</b>
            </span>
          </div>
        </div>
      </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>
    <audio autoplay="true" src="https://a.top4top.io/m_1757ageic0.m4a"></audio>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script async src="https://api.countapi.xyz/hit/yudaapikey.herokuapp.com/visits?callback=cb"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
</body>

</html>
