<!-- WOI MALING KONTOL -->
<!-- KREDIT LEE TANK APIs -->
<!-- POWERED BY R41H4N920 -->
<!-- YOUTUBE RIRIWGaming -->
<!-- YAELAH MALING LU KONTOL -->

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
      <title>Lee Tank - REST API</title>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/app.min.css" />
      <!-- Template CSS -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/style.css" />
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/components.css" />
      <!-- Custom style CSS -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/custom.css" />
      <link rel="stylesheet" href="css/ruang-admin.min.css" />
      <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/xGLYfRz/ririwgaming.jpg" />
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <audio autoplay="autoplay" hidden="hidden" src="https://b.top4top.io/m_19512srpb0.mp3"></audio>
   <head>
<center>
<script>
swal("Attantion", "Website Ini Masih Dalam Tahap Perkembangan", "info") 
.then((value) => { swal("Powered By R41H4N920", "DEVELOPER LEE TANK");});
</script>

<body>

<script src="https://unpkg.com/feather-icons"></script>

</body>

   <body>

      <div class="loader"></div>

      <div id="app">

         <div class="main-wrapper main-wrapper-1">

            <div class="navbar-bg"></div>

            <nav class="navbar navbar-expand-lg main-navbar sticky">

               <div class="form-inline mr-auto">

                  <ul class="navbar-nav mr-3">

                     <li>

                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>

                     </li>

                     <li>

                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">

                           <i data-feather="maximize"></i>

                        </a>

                     </li>

                     <li>

                        <form class="form-inline mr-auto">

                           <div class="search-element">

                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200" />

                              <button class="btn" type="submit">

                                 <i class="fas fa-search"></i>

                              </button>

                           </div>

                        </form>

                     </li>

                  </ul>

               </div>

               <ul class="navbar-nav navbar-right">

                  <li class="dropdown dropdown-list-toggle">

                     <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i> <span class="badge headerBadge1"> 2 </span> </a>

                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">

                        <div class="dropdown-header">

                           Message

                           <div class="float-right">

                              <a href="#">Notifikasi</a>

                           </div>

                        </div>

                        <div class="dropdown-list-content dropdown-list-message">

                           <a href="#" class="dropdown-item">

                              <span class="dropdown-item-avatar text-white"> <img alt="image" src="https://e.top4top.io/p_1837nveac0.jpg" class="rounded-circle" /> </span>

                              <span class="dropdown-item-desc">

                                 <span class="message-user">R41H4N920</span>

                                 <span class="time messege-text">My Web Is Problem</span>

                                 <span class="time">6 Mei 2020</span>

                              </span>

                           </a>

                           <a href="#" class="dropdown-item">

                              <span class="dropdown-item-avatar text-white">

                                 <img alt="image" src="https://e.top4top.io/p_1837nveac0.jpg" class="rounded-circle" />

                              </span>

                              <span class="dropdown-item-desc">

                                 <span class="message-user">R41H4N920</span> <span class="time messege-text">Apikey feature? LIMITED</span>

                                 <span class="time">6 Mei 2021</span>

                              </span>

                           </a>

                        </div>

                        <div class="dropdown-footer text-center">

                           <a href="#">Close Message ></a>

                        </div>

                     </div>

                  </li>

                  <li class="dropdown dropdown-list-toggle">

                     <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i> </a>

                     <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">

                        <div class="dropdown-header">

                           Notifications

                           <div class="float-right">

                              <a href="#">Mark All As Read</a>

                           </div>

                        </div>

                        <div class="dropdown-list-content dropdown-list-icons">

                           <a href="#" class="dropdown-item dropdown-item-unread">

                              <span class="dropdown-item-icon bg-primary text-white"> <i data-feather="code"></i> </span> <span class="dropdown-item-desc"> dapet bug lapor saya oke!<span class="time">Yesterday</span> </span>

                           </a>

                        </div>

                        <div class="dropdown-footer text-center">

                           <a href="#">Close Notifications ></a>

                        </div>

                     </div>

                  </li>

                  <li class="dropdown">

                     <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">

                        <img alt="image" src="https://avatars.githubusercontent.com/u/79522358?v=4" class="user-img-radious-style" /> <span class="d-sm-none d-lg-inline-block"></span>

                     </a>

                     <div class="dropdown-menu dropdown-menu-right pullDown">

                        <div class="dropdown-title">Lee Tank</div>

                        <a href="https://wa.me/6283833271665?text=Bang+Apikeynya+apa" class="dropdown-item has-icon"> <i data-feather="key"></i> Apikey </a>

                        <a href="/about" class="dropdown-item has-icon"><i data-feather="info"></i> About</a>

                     </div>

                  </li>

               </ul>

            </nav>

            <div class="main-sidebar sidebar-style-2">

               <aside id="sidebar-wrapper">

                  <div class="sidebar-brand">

                     <a href="/"> <span class="logo-name">Lee Tank API</span> </a>

                  </div>

                  <ul class="sidebar-menu">

                     <li class="menu-header">Menu</li>

                     <li>

                        <a href="/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>

                     </li>

                     <li class="menu-header">Api</li>

                     <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Photooxy Text</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/photooxy/shadow?apikey=Alpha&text=Your_Text" target="_blank">Shadow Text</a>

		           <a class="nav-link" href="/api/photooxy/romantic?apikey=Alpha&text=Your_Text" target="_blank">Romantic Text</a>

		           <a class="nav-link" href="/api/photooxy/smoke?apikey=Alpha&text=Your_Text" target="_blank">Smoke Text</a>

		           <a class="nav-link" href="/api/photooxy/burn-paper?apikey=Alpha&text=Your_Text" target="_blank">Burn paper Text</a>

		           <a class="nav-link" href="/api/photooxy/naruto?apikey=Alpha&text=Your_Text" target="_blank">Naruto Text</a>

		           <a class="nav-link" href="/api/photooxy/love-message?apikey=Alpha&text=Your_Text" target="_blank">Love Text</a>

		           <a class="nav-link" href="/api/photooxy/message-under-grass?apikey=Alpha&text=Your_Text" target="_blank">Under Grass Text</a>

		           <a class="nav-link" href="/api/photooxy/glitch?apikey=Alpha&text=Your_Text&text2=Rest APIs" target="_blank">Glitch Text</a>

		           <a class="nav-link" href="api/photooxy/double-heart?apikey=Alpha&text=Your_Text" target="_blank">double heart text</a>

		           <a class="nav-link" href="api/photooxy/butterfly?apikey=Alpha&text=Your_Text" target="_blank">Flower Text</a>
                
                   <a class="nav-link" href="api/photooxy/coffe-cup?apikey=Alpha&text=Your_Text" target="_blank">CoffeCup Text</a>

  
                        </ul>

                     </li>
   <li class="dropdown">                        
<a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span> Text Pro</span></a>

                        <ul class="dropdown-menu">

                   <a class="nav-link" href="/api/textpro/natural-leaves?apikey=Alpha&text=Your_Text" target="_blank">Natural-leaves Text</a>

		           <a class="nav-link" href="/api/textpro/black-pink?apikey=Alpha&text=Your_Text" target="_blank">Blackpink Text</a>

		           <a class="nav-link" href="/api/textpro/drop-water?apikey=Alpha&text=Your_Text" target="_blank">Dropwater Text</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Alpha&text=Your_Text&text2=Your_Text" target="_blank">Logo Wolf</a>

		           <a class="nav-link" href="/api/textpro/logo-wolf2?apikey=Alpha&text=Your_Text&text2=Your_Text" target="_blank">Logo Wolf2</a>

		           <a class="nav-link" href="/api/textpro/christmas?apikey=Alpha&text=Your_Text" target="_blank">Christmas Text Image</a>

		           <a class="nav-link" href="/api/textpro/3d-gradient?apikey=Alpha&text=Your_Text" target="_blank">3D Gradient Text Image</a>

		           <a class="nav-link" href="/api/textpro/porn-hub?apikey=Alpha&text1=Your_Text&text2=Your_Text" target="_blank">Pornhub Text</a>
                        </ul>

                     </li>
                   <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Maker Menu</span></a>

                   <ul class="dropdown-menu">
                  
                   <a class="nav-link" href="/api/maker/nulis?apikey=Alpha&text=Awokwokwok Mager yaa:v" target="_blank">Nulis Buku</a>

                   <a class="nav-link" href="/api/maker/tololserti?apikey=Alpha&nama=Your_Name" target="_blank">Tolol Serti</a>

		           <a class="nav-link" href="/api/maker/attp?apikey=Alpha&text=Your_Text" target="_blank">Attp</a>

		           <a class="nav-link" href="/api/maker/ttp?apikey=Alpha&text=Your_Text" target="_blank">Ttp</a>

		           <a class="nav-link" href="/api/maker/emoji2png?apikey=Alpha&text=😂" target="_blank">EmojinToPng</a>
                   <a class="nav-link" href="/api/maker/skatch?apikey=Alpha&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" target="_blank">Skatch Effect</a>

		       
		              <a class="nav-link" href="/api/maker/harta-tahta?apikey=Alpha&text=Your_Text" target="_blank">Harta Tahta</a>
               
                     </ul>
                  </li>
  <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Sertifikat Menu</span></a>

                   <ul class="dropdown-menu">
                  
                    <a class="nav-link" href="/api/maker/tololserti?apikey=Alpha&text=Your_Text" target="_blank">Tolol Serti</a>
                   <a class="nav-link" href="/api/maker/fuckboyserti?apikey=Alpha&nama=Your_Name" target="_blank">Fuckboy Serti</a>
		           <a class="nav-link" href="/api/maker/fuckgirlserti?apikey=Alpha&text=Your_Text" target="_blank">Fuckgirl Serti </a>
		           <a class="nav-link" href="/api/maker/bucinserti?apikey=Alpha&text=Your_Text" target="_blank">Bucin Serti</a>
		           <a class="nav-link" href="/api/maker/pacarserti?apikey=Alpha&text=Your_Text" target="_blank">Pacar Serti</a>
                   <a class="nav-link" href="/api/maker/goodboyserti?apikey=Alpha&text=Your_Text" target="_blank">GoodBoy Serti</a>
	               <a class="nav-link" href="/api/maker/goodgirlserti?apikey=Alpha&text=Your_Text" target="_blank">GoodGirl Serti</a>
                   <a class="nav-link" href="/api/maker/badboyserti?apikey=Alpha&text=Your_Text" target="_blank">BadBoy Serti</a>
                   <a class="nav-link" href="/api/maker/badgirlserti?apikey=Alpha&text=Your_Text" target="_blank">BadGirl Serti</a>                 
                   <a class="nav-link" href="/api/maker/hekelserti?apikey=Alpha&text=Your_Text" target="_blank">Hekel Serti</a>
                   <a class="nav-link" href="/api/maker/babuserti?apikey=Alpha&nama=Your_Name" target="_blank">Babu Serti</a>
		           <a class="nav-link" href="/api/maker/ffserti?apikey=Alpha&text=Your_Text" target="_blank">Ff Serti </a>
		           <a class="nav-link" href="/api/maker/bocilepepserti?apikey=Alpha&text=Your_Text" target="_blank">BocilEpep Serti</a>
		           <a class="nav-link" href="/api/maker/gayserti?apikey=Alpha&text=Your_Text" target="_blank">Gay Serti</a>
                   <a class="nav-link" href="/api/maker/surgaserti?apikey=Alpha&text=Your_Text" target="_blank">Surga Serti</a>
                   <a class="nav-link" href="/api/maker/pinterserti?apikey=Alpha&text=Your_Text" target="_blank">Pinter Serti</a>
                   <a class="nav-link" href="/api/maker/editodberkelasserti?apikey=Alpha&text=Your_Text" target="_blank">Editor Berkelas Serti</a>
                   <a class="nav-link" href="/api/maker/goodlookingserti?apikey=Alpha&text=Your_Text" target="_blank">Goodlooking Serti</a>                 
                   <a class="nav-link" href="/api/maker/fucekboyserti?apikey=Alpha&text=Your_Text" target="_blank">FucekBoy Serti</a>
                   <a class="nav-link" href="/api/maker/jametserti?apikey=Alpha&nama=Your_Name" target="_blank">Jamet Serti</a>
		           <a class="nav-link" href="/api/maker/youtuberserti?apikey=Alpha&text=Your_Text" target="_blank">Youtuber Serti </a>
		           <a class="nav-link" href="/api/maker/fftourserti?apikey=Alpha&text=Your_Text" target="_blank">FFTour Serti</a>
		           <a class="nav-link" href="/api/maker/fftourserti2?apikey=Alpha&text=Your_Text" target="_blank">FFTour Serti2</a>
                   <a class="nav-link" href="/api/maker/fftourserti3?apikey=Alpha&text=Your_Text" target="_blank">FFTour Serti3</a>	       
		           <a class="nav-link" href="/api/maker/fftourserti4?apikey=Alpha&text=Your_Text" target="_blank">FFTour Serti4</a>
                   <a class="nav-link" href="/api/maker/fftourserti5?apikey=Alpha&text=Your_Text" target="_blank">FFTour Serti5</a>
                   <a class="nav-link" href="/api/maker/mltourserti?apikey=Alpha&text=Your_Text" target="_blank">MLTour Serti</a>                              
                   <a class="nav-link" href="/api/maker/mltourserti2?apikey=Alpha&text=Your_Text" target="_blank">MLTour Serti2</a>
                   <a class="nav-link" href="/api/maker/mltourserti3serti?apikey=Alpha&nama=Your_Name" target="_blank">MLTour Serti3</a>
		           <a class="nav-link" href="/api/maker/mltourserti4?apikey=Alpha&text=Your_Text" target="_blank">MLTour Serti4</a>
	               <a class="nav-link" href="/api/maker/mltourserti5?apikey=Alpha&text=Your_Text" target="_blank">MLTour Serti5</a>		       
	               <a class="nav-link" href="/api/maker/pubgtourserti?apikey=Alpha&text=Your_Text" target="_blank">PubgTour Serti</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti2?apikey=Alpha&text=Your_Text" target="_blank">PubgTour Serti2</a>		       
		           <a class="nav-link" href="/api/maker/pubgtourserti3?apikey=Alpha&text=Your_Text" target="_blank">PubgTour Serti3</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti4?apikey=Alpha&text=Your_Text" target="_blank">PubgTour Serti4</a>
                   <a class="nav-link" href="/api/maker/pubgtourserti5?apikey=Alpha&text=Your_Text" target="_blank">PubgTour Serti5</a>               
                   </ul>
                  </li>
  <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>ImageEdit Menu</span></a>

                   <ul class="dropdown-menu">
                  
                    <a class="nav-link" href="/api/maker/bakar?apikey=Alpha&url=Your_Url" target="_blank">Bakar Edit</a>
                   <a class="nav-link" href="/api/maker/trash?apikey=Alpha&url=Your_Url" target="_blank">Trash Edit</a>
		           <a class="nav-link" href="/api/maker/blur?apikey=Alpha&url=Your_Url" target="_blank">Blur Edit </a>
		           <a class="nav-link" href="/api/maker/invert?apikey=Alpha&url=Your_Url" target="_blank">Invert Edit</a>
		           <a class="nav-link" href="/api/maker/gtav?apikey=Alpha&url=Your_Url" target="_blank">GTAV</a>
		             <a class="nav-link" href="/api/welcomeimage?apikey=Alpha&url=Your_Url&text=Yuda" target="_blank">GTAV</a>
                
                     </ul>
                  </li>

                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="download"></i><span>Media</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr&apikey=Alpha" target="_blank">Ig Download</a>
		           <a class="nav-link" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Alpha" target="_blank">Facebook Downloader</a>

		           <a class="nav-link" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Alpha" target="_blank">Tiktok Downloader</a>

		           <a class="nav-link" href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Alpha" target="_blank">Ytmp3</a>

		           <a class="nav-link" href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Alpha" target="_blank">Ytmp4</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="umbrella"></i><span>Islami</span></a>

                        <ul class="dropdown-menu">

		           <a class="nav-link" href="/api/hadits?kitab=bukhari&nomor=52&apikey=Alpha" target="_blank">Hadits Shahih</a>

		           <a class="nav-link" href="/api/quran?surah=1&ayat=2&apikey=Alpha" target="_blank">Al Qur'an</a>

		           <a class="nav-link" href="/api/muslim/tahlil?apikey=Alpha" target="_blank">Doa Tahlil</a>

		           <a class="nav-link" href="/api/muslim/wirid?apikey=Alpha" target="_blank">Doa Wirid</a>

		           <a class="nav-link" href="/api/muslim/asmaulhusna?apikey=Alpha" target="_blank">Asmaul Husna</a>

		           <a class="nav-link" href="/api/muslim/doaharian?apikey=Alpha" target="_blank">Doa Harian</a>

		           <a class="nav-link" href="/api/muslim/ayatkursi?apikey=Alpha" target="_blank">Ayat Kursi</a>

		           <a class="nav-link" href="/api/kisahnabi?nabi=muhammad&apikey=Alpha" target="_blank">Kisah Nabi</a>

		           <a class="nav-link" href="/api/muslim/niatshalat?apikey=Alpha" target="_blank">Niat Shalat</a>

		           <a class="nav-link" href="/api/muslim/bacaanshalat?apikey=Alpha" target="_blank">Bacaan Shalat</a>

		           <a class="nav-link" href="/api/jadwalshalat?kota=jakartautara&apikey=Alpha" target="_blank">Jadwal Shalat</a>
                           
			</ul>

                     </li>




                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Fun & Game</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/kuis/caklontong?apikey=Alpha" target="_blank">Cak Lontong (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/tebakgambar?apikey=Alpha" target="_blank">Tebak Gambar (by Zahir)</a>

                           <a class="nav-link" href="/api/kuis/family100?apikey=Alpha" target="_blank">family100</a>

                           <a class="nav-link" href="/api/kuis/tebakbendera?apikey=Alpha" target="_blank">tebak bendera</a>

                           <a class="nav-link" href="/api/asupan?apikey=Alpha" target="_blank">asupan</a>

                           <a class="nav-link" href="/api/cecan?apikey=Alpha" target="_blank">cecan</a>
                          
                           <a class="nav-link" href="/api/cersex?apikey=Alpha" target="_blank">cersex</a>

                           <a class="nav-link" href="api/simsimi/?text=hai&apikey=Alpha" target="_blank">SimSimi</a>

                        </ul>

                     </li>


                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="zoom-in"></i><span>Stalk</span></a>

                        <ul class="dropdown-menu">

                           <a class="nav-link" href="/api/stalk/tiktok?apikey=Alpha&username=Nick_Tk" target="_blank">Tiktok</a>

                           <a class="nav-link" href="/api/stalk/ig?apikey=Alpha&username=Nick_Ig" target="_blank">Instagram</a>



                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Primbon</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/random/quotes?apikey=Alpha" target="_blank">Quotes</a>

			             <a class="collapse-item" href="/api/random/quotes/kanye?apikey=Alpha" target="_blank">Quotes kanye<br></a>

	                   <a class="collapse-item" href="/api/gabut?apikey=Alpha" target="_blank">Gaboet</a>

	                   <a class="collapse-item" href="/api/artinama/?nama=Your_Name&apikey=Alpha" target="_blank">Artinama</a>

	                   <a class="collapse-item" href="/api/tanggaljadian/?tgl=30&bln=02&thn=2018&apikey=Alpha" target="_blank">Makna Tanggal Jadian</a>

                        </ul>

                     </li>

                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="anchor"></i><span>Ucapan/Waktu</span></a>

                        <ul class="dropdown-menu">

	                   <a class="collapse-item" href="/api/ucapan-wib?apikey=Alpha" target="_blank">Ucapan Wib</a>

			             <a class="collapse-item" href="/api/ucapan-wita?apikey=Alpha" target="_blank">Ucapan Wita<br></a>

	                   <a class="collapse-item" href="/api/ucapan-wit?apikey=Alpha" target="_blank">Ucapan Wit</a>

	                   <a class="collapse-item" href="/api/tahunbaru?apikey=Alpha" target="_blank">Ucapan Tahun Baru</a>

	                   <a class="collapse-item" href="/api/hitungmundur?apikey=Alpha" target="_blank">Hitung Mundur</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="compass"></i><span>News</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/news/cnn?type=JENIS_BERITA&apikey=Alpha" target="_blank">CNN News</a>

		           <a class="collapse-item" href="/api/news/cnbc?type=JENIS_BERITA&apikey=Alpha" target="_blank">CNBC News</a>

		           <a class="collapse-item" href="/api/news/republika?type=JENIS_BERITA&apikey=Alpha" target="_blank">Republika News</a>

	    	  	   <a class="collapse-item" href="/api/news/tempo?type=JENIS_BERITA&apikey=Alpha" target="_blank">Tempo News</a>

		           <a class="collapse-item" href="/api/news/antara?type=JENIS_BERITA&apikey=Alpha" target="_blank">Antara news</a>

		           <a class="collapse-item" href="/api/news/kumparan?type=JENIS_BERITA&apikey=Alpha" target="_blank">Kumparan news</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle collapse-item has-dropdown"><i data-feather="image"></i><span>Wallpaper & Image</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/wallpaper/teknologi?apikey=Alpha" target="_blank">Wallpaper Teknologi</a>

		           <a class="collapse-item" href="/api/wallpaper/programming?apikey=Alpha" target="_blank">Wallpaper Programming</a>

		           <a class="collapse-item" href="/api/wallpaper/cyberspace?apikey=Alpha" target="_blank">Wallpaper CyberSpace</a>

		           <a class="collapse-item" href="/api/wallpaper/muslim?apikey=Alpha" target="_blank">Wallpaper Muslim</a>

 		           <a class="collapse-item" href="/api/wallpaper/pegunungan?apikey=Alpha" target="_blank">Wallpaper Mountain View</a>


                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="disc"></i><span>Anime API</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/waifu?apikey=Alpha" target="_blank">Waifu</a>

		           <a class="collapse-item" href="/api/nekonime?apikey=Alpha" target="_blank">Nekonime</a>

                           <a class="collapse-item" href="/api/1cak?apikey=Alpha" target="_blank">Random 1CAK</a>

		           <a class="collapse-item" href="/api/neonimebatch?url=https://neonime.vip/batch/eromanga-sensei-bd-batch-subtitle-indonesia/&apikey=Alpha" target="_blank">Neonime batch</a>

		           <a class="collapse-item" href="/api/neonime?q=Shizuka&apikey=Alpha" target="_blank">Neonime search</a>

		           <a class="collapse-item" href="/api/manga?search=kimetsu no yaiba&apikey=Alpha" target="_blank">Mangga</a>

		           <a class="collapse-item" href="/api/anime/kusonime?search=planetarian&apikey=Alpha" target="_blank">Kusonime search</a>

                           <a class="collapse-item" href="/api/dewabatch?q=one piece&apikey=Alpha" target="_blank">Dewabatch</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="sliders"></i><span>Random</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/random/meme?apikey=Alpha" target="_blank">Meme</a>

		           <a class="collapse-item" href="/api/random/wallpaper?apikey=Alpha" target="_blank">Wallpaper</a>

		           <a class="collapse-item" href="/api/nickepep?apikey=Alpha" target="_blank">nickepep<br></a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cloud-snow"></i><span>BMKG</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/infogempa?apikey=Alpha" target="_blank">Info Gempa</a>

		           <a class="collapse-item" href="/api/cuaca?kabupaten=kab bungo&apikey=Alpha" target="_blank">Info Cuaca</a>

		           <a class="collapse-item" href="/api/covidindo?apikey=Alpha" target="_blank">Covid Indo</a>

    		           <a class="collapse-item" href="/api/covidworld?apikey=Alpha" target="_blank">Covid World</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Education</span></a>

                        <ul class="dropdown-menu">


		           <a class="collapse-item" href="/api/wikipedia?search=jembatan&apikey=Alpha" target="_blank">Wikipedia</a>

		           <a class="collapse-item" href="/api/kbbi?kata=pohon&apikey=Alpha" target="_blank">KBBI</a>

		           <a class="collapse-item" href="/api/gabut?apikey=Alpha" target="_blank">Gabut</a>

		           <a class="collapse-item" href="/api/translate?kata=hi&apikey=Alpha" target="_blank">Translate</a>

                           <a class="collapse-item" href="/api/brainly?q=cara%20membuat%20Tuhan&apikey=Alpha" target="_blank">Brainly</a>

                           <a class="collapse-item" href="/api/kodepos?kota=jakarta&apikey=Alpha" target="_blank">kodepos</a>

                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="tv"></i><span>Film</span></a>

                        <ul class="dropdown-menu">

		           <a class="collapse-item" href="/api/filmapik/terbaru?apikey=Alpha" target="_blank">Film Terbaru (Film Apik)</a>

		           <a class="collapse-item" href="/api/ck21/search?q=dilan&apikey=Alpha" target="_blank">Cari Film (Cinema Keren21)</a>

		           <a class="collapse-item" href="/pn21/search?film=dilan&apikey=Alpha" target="_blank">Cari Film (Pop CorN21)</a>

		           <a class="collapse-item" href="/api/lk21/search?film=avenger&apikey=Alpha" target="_blank">Cari Film (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/terbaru?apikey=Alpha" target="_blank">Film Terbaru (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/comingsoon?apikey=Alpha" target="_blank">Film Yg Akan Datang (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/tvseries?apikey=Alpha" target="_blank">Series TV (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/year?tahun=2021&apikey=Alpha" target="_blank">Berdasarkan Tahun (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/country?negara=indonesia&apikey=Alpha" target="_blank">Berdasarkan Negara (LK21)</a>

		           <a class="collapse-item" href="/api/lk21/genre?tipe=action&apikey=Alpha" target="_blank">Berdasarkan Genre (LK21)</a>

                        </ul>

                     </li>

                    

                     <li class="dropdown">

                        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="phone"></i><span>Spammer</span></a>

                        <ul class="dropdown-menu">

                        	<a class="collapse-item" href="/api/spamcall?number=Add_Number&apikey=Alpha" target="_blank">Spam Call</a>

                                <a class="collapse-item" href="/api/spamsms?number=Add_Number&jumlah=5&apikey=Alpha" target="_blank">Spam SMS</a>

                                <a class="collapse-item" href="/api/spamgmail?gmail=Add_Gmail&jumlah=5&apikey=Alpha" target="_blank">Spam Gmail</a>



                        </ul>

                     </li>


                           
                   <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="book" aria-hidden="true"></i><span>Other</span></a>

                        <ul class="dropdown-menu">

             <a class="collapse-item" href="/api/infonpm?query=rey-api&hostname=rey&apikey=Alpha" target="_blank">Info NPM</a>

            <a class="collapse-item" href="/api/short/tiny?url=google.com&apikey=Alpha" target="_blank">Short Link</a>

            <a class="collapse-item" href="/api/drakorasia?search=tale&apikey=Alpha" target="_blank">Drakor Asia</a>

            <a class="collapse-item" href="/api/fakedata?country=en&apikey=Alpha" target="_blank">Fake Data</a>

            <a class="collapse-item" href="/api/hilih?kata=Yuda ganteng banget&apikey=Alpha" target="_blank">Kata Hilih</a>



                        </ul>

                     </li>



                     <li class="dropdown">

                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="dollar-sign"></i><span>Donasi</span></a>

                        <ul class="dropdown-menu">

                          <a class="collapse-item" href="https://saweria.co/RIRIWGaming" target="_blank">Saweria</a>

                        </ul>

                     </li>



                     <li>



                     <li class="menu-header">Social Media</li>
                     
                     <li>

                        <a href="https://wa.me/6283833271665" class="nav-link"><i data-feather="whatsapp"></i><span>WhatsApp</span></a>

                     </li>

                     <li>

                        <a href="https://youtube.com/c/RIRIWGaming" class="nav-link"><i data-feather="youtube"></i><span>Youtube</span></a>

                     </li>

                     <li>

                        <a href="https://www.instagram.com/ririwgaming" class="nav-link"><i data-feather="instagram"></i><span>Instagram</span></a>

                     </li>

                  </ul>

               </aside>

            </div>

            <!-- Main Content -->

            <div class="main-content">

               <section class="section">

                  <ul class="breadcrumb breadcrumb-style">

                     <li class="breadcrumb-item">

                        <h4 class="page-title m-b-0">Dashboard</h4>

                     </li>

                     <li class="breadcrumb-item">

                        <a href="/"><i data-feather="home"></i></a>

                     </li>

                     <h4 class="breadcrumb-item active">Documentation</h4>

                  </ul>
                  
                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right"> Visitor Count</h6>
                                 
                      <h4>
                      
                      <i data-feather="github"></i> <span id="visits"> 0 </span></h4>
                                 <p class="mb-0 mt-3 text-muted"> Jumlah Pengunjung</p>
                    </div>
                    
                    <div class="col-auto">
                      <i class="fas fa-eye fa-2x text-primary"></i>
 
                              </div>

                           </div>

                        </div>

                     </div>

                  <div class="row">

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right"> Total Hit</h6>

				 <h4>

                                 <i data-feather="battery"></i> <span id="visit"> 0 </span></h4>

                                 <p class="mb-0 mt-3 text-muted"> Jumlah Request</p>

                              </div>

                           </div>

                        </div>

                     </div>

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right">Time Now</h6>

				 <h4>

                                 <i data-feather="clock"></i> <span id="browser_info"> 00.00 </span></h4>

                                 <p class="mb-0 mt-3 text-muted"><span id="browser_sholat"></span></p>

                              </div>

                           </div>

                        </div>

                     </div>

                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">

                                 <h6 class="m-b-20 text-right">Your IP</h6>

				 <h4>

                                 <i data-feather="wifi"></i> <span id="ip"> 127.0.0.1 </span></h4>

                                 <p class="mb-0 mt-3 text-muted"> Ip Kamu</p>

                              </div>

                           </div>

                        </div>

                     </div>

		    </div>
		    <form action="/api/cekapikey">
                     <div class="col-lg-3 col-sm-6">

                        <div class="card">

                           <div class="card-statistic-4">

                              <div class="info-box7-block">
           <div class="h6 mb-0 font-weight-bold text-dark-800 text-uppercase">
          <h6 class="text-center">[+] cek apikey [+]</h6>
          </div>
           <input type="password" class="form-control" placeholder="Check Your apikey" name="apikey" required=""><br>
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Check</span>
            </button>
         </div>
        </div>
       </div>
      </div>
     </div>
      </form>

                  <div class="row">

                     <div class="col-12 col-sm-12 col-lg-4">

                        <div class="card card-info">

                           <div class="card-header">

                              <h4>Informasi</h4>

                              <div class="card-header-action">

                                 <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i data-feather="x-circle"></i></a>

                              </div>

                           </div>

                           <div class="collapse show" id="mycard-collapse">

                              <div class="card-body">

                                 <ol>

                                    <li>Apikey? Chat Me On WhatsApp</li>

                                    <li>Bug? Chat Me On WhatsApp</li>

                                    <li>Request Feature? Chat Me On WhatsApp</li>

                                    <li>Don't Steal My Web Appearance!</li>
                                    
                                    <li>Not All Features Can</li>

                                    <li>Donate So I Can Be Excited To Update This Website</li>

                                 </ol>

                              </div>

                              <div class="card-footer">

                                 By Developer

                              </div>

                           </div>

                        </div>

                     </div>



                     <div class="col-12 col-sm-12 col-lg-4">

                        <div class="card">

                           <div class="card-header">

                              <h4>Cangelog</h4><h6 last update 6-5-2021 </h6>

                           </div>

                           <div class="card-body">

                              <div id="activity-scroll">

                                 <ul class="activity-list">

                                 	  <li>

                                       <i class="activity-icon bg-warning"></i>

                                       <h6>Gk Semua Nya Work Yah<small class="float-right text-muted">5-5-2021</small></h6>

                                       <span class="font-12">Author : R41H4N920</span>

                                       </li>

				       <li>

                                       <i class="activity-icon bg-success"></i>

                                       <h6>Error Tiktok Stalk<small class="float-right text-muted">5-5-2021</small></h6>

                                       </li>

                                       <li>

                                       <i class="activity-icon bg-warning"></i>

                                       <h6>erorr Sosmed<small class="float-right text-muted">5-5-2021</small></h6>

                                       </li>

                                       <li>

                                       <i class="activity-icon bg-warning"></i>

                                       <h6>error Anime<small class="float-right text-muted">5-5-2021</small></h6>

                                       </li>

                                       <li>

                                       <h6>

                                       <i class="activity-icon bg-warning"></i>

                                       <a href="/changelog" target="_blank">clear</a>

                                    </li>

                                    </li>

                                 </ul>

                              </div>

                           </div>

                        </div>

                     </div>

                  </div>

               </section>

               <div class="settingSidebar">

                  <a href="javascript:void(0)" class="settingPanelToggle"> <i data-feather="settings"></i> </a>

                  <div class="settingSidebar-body ps-container ps-theme-default">

                     <div class="fade show active">

                        <div class="setting-panel-header">Setting Panel</div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Select Layout</h6>

                           <div class="selectgroup layout-color w-50">

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked />

                                 <span class="selectgroup-button">Light</span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout" />

                                 <span class="selectgroup-button">Dark</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Sidebar Color</h6>

                           <div class="selectgroup selectgroup-pills sidebar-color">

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar" />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar"><i data-feather="sun"></i></span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar"><i data-feather="moon"></i></span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Color Theme</h6>

                           <div class="theme-setting-options">

                              <ul class="choose-theme list-unstyled mb-0">

                                 <li title="white" class="active">

                                    <div class="white"></div>

                                 </li>

                                 <li title="cyan">

                                    <div class="cyan"></div>

                                 </li>

                                 <li title="black">

                                    <div class="black"></div>

                                 </li>

                                 <li title="purple">

                                    <div class="purple"></div>

                                 </li>

                                 <li title="orange">

                                    <div class="orange"></div>

                                 </li>

                                 <li title="green">

                                    <div class="green"></div>

                                 </li>

                                 <li title="red">

                                    <div class="red"></div>

                                 </li>

                              </ul>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Mini Sidebar</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Sticky Header</span>

                              </label>

                           </div>

                        </div>

                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">

                           <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme"><i data-feather="refresh-cw"></i> Restore Default </a>

                        </div>

                     </div>

                  </div>

               </div>

            </div>

            <footer class="main-footer">

               <div class="footer-left">

                  Copyright &copy; 2021

                  <div class="bullet"></div>

 Made with 🤍 by <a href="https://wa.me/6283833271665">R41H4N920</a>

               </div>

               <div class="footer-right"></div>

            </footer>

         </div>

      </div>

      <!-- General JS Scripts -->
      
      <script async src="https://api.countapi.xyz/hit/ririwgaming.herokuapp.com/visits?callback=cb"></script>
      
      <script src="js/ruang-admin.js"></script>

      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/app.min.js"></script>

      <!-- Template JS File -->

      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/scripts.js"></script>

      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/fahmi.js"></script>

      <!-- Custom JS File -->

      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/custom.js"></script>
      
      <script src="https://onlydevcity.xyz/kangcopas/alert.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
      
   </body>

</html>

