<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="LoL Human">
    <title>LoL Human - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="LoL Human APIs">
    <meta property="og:title" name="og:title" content="LoL Human - REST APIs">
    <meta property="og:url" name="og:url" content="https://api.lolhuman.xyz/">
    <meta property="og:image" name="og:image" content="/static/icon/android-icon-192x192.png">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-icon-180x180.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://api.lolhuman.xyz/">
    <link rel="stylesheet" href="/static/fontawesome5/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <div class="text">
        <div class="status">
            <p>API STATUS: <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>Read <a href="docs" class="docs">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="sosmed"><i class="fab fa-telegram-plane" aria-hidden="true"></i> Telegram</a>
        </p>
    </div>
</body>
<script src="/static/js/script.js"></script>

</html>