<!-- WOI MALING KONTOL -->
<!-- KREDIT LEE TANK APIs -->
<!-- POWERED BY R41H4N920 -->
<!-- YOUTUBE RIRIWGaming -->
<!-- YAELAH MALING LU KONTOL -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="R41H4N920">
    <title>Lee Tank - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="Lee Tank APIs">
    <meta property="og:title" name="og:title" content="Lee Tank - REST APIs">
    <meta property="og:url" name="og:url" content="https://leetank.herokuapp.com/">
    <meta property="og:image" name="og:image" content="/views/favicon.ico">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="shortcut icon" type="image/x-icon" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/views/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://leetank.herokuapp.com/">
    <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/css/home.css">
</head>

<body>
    <div class="text">
        <div class="status">
            <p>API STATUS: <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>Read <a href="docs" class="docs">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="https://github.com/RIRIWGaming" target="_blank" rel="noopener noreferrer" class="nav-link"><i data-feather="github" aria-hidden="true"></i> Github</a>
        </p>
    </div>
                </section>

               <div class="settingSidebar">

                  <a href="javascript:void(0)" class="settingPanelToggle"> <i data-feather="settings"></i> </a>

                  <div class="settingSidebar-body ps-container ps-theme-default">

                     <div class="fade show active">

                        <div class="setting-panel-header">Setting Panel</div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Select Layout</h6>

                           <div class="selectgroup layout-color w-50">

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked />

                                 <span class="selectgroup-button">Light</span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout" />

                                 <span class="selectgroup-button">Dark</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Sidebar Color</h6>

                           <div class="selectgroup selectgroup-pills sidebar-color">

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar" />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar"><i data-feather="sun"></i></span>

                              </label>

                              <label class="selectgroup-item">

                                 <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked />

                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar"><i data-feather="moon"></i></span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <h6 class="font-medium m-b-10">Color Theme</h6>

                           <div class="theme-setting-options">

                              <ul class="choose-theme list-unstyled mb-0">

                                 <li title="white" class="active">

                                    <div class="white"></div>

                                 </li>

                                 <li title="cyan">

                                    <div class="cyan"></div>

                                 </li>

                                 <li title="black">

                                    <div class="black"></div>

                                 </li>

                                 <li title="purple">

                                    <div class="purple"></div>

                                 </li>

                                 <li title="orange">

                                    <div class="orange"></div>

                                 </li>

                                 <li title="green">

                                    <div class="green"></div>

                                 </li>

                                 <li title="red">

                                    <div class="red"></div>

                                 </li>

                              </ul>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Mini Sidebar</span>

                              </label>

                           </div>

                        </div>

                        <div class="p-15 border-bottom">

                           <div class="theme-setting-options">

                              <label class="m-b-0">

                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting" />

                                 <span class="custom-switch-indicator"></span>

                                 <span class="control-label p-l-10">Sticky Header</span>

                              </label>

                           </div>

                        </div>

                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">

                           <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme"><i data-feather="refresh-cw"></i> Restore Default </a>

                        </div>

                     </div>

                  </div>

               </div>

            </div>

            <footer class="main-footer">

               <div class="footer-left">

                  Copyright &copy; 2021

                  <div class="bullet"></div>

 Made with 🤍 by <a href="https://wa.me/6283833271665">R41H4N920</a>

               </div>

               <div class="footer-right"></div>

            </footer>

         </div>

      </div>
</body>
<script src="https://h4ck3rs404-api.herokuapp.com/js/sci.js"></script>

</html>